<!DOCTYPE html>
<head>
    <meta charset="utf8" />
    <title>the form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen flex flex-col justify-between", id = "invalidDiv">
        <div></div>
        <div class="w-full text-center flex flex-col items-center">
            <div class="text-3xl bg-red-400 py-4 px-4 rounded-full w-fit">
                ✖
            </div>
            <br />
            Có lỗi xảy ra khi xac nhan thong tin.
        </div>
        <div></div>
    </div>
</body>