<!DOCTYPE html>
<head>
    <meta charset="utf8" />
    <title>the form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen flex flex-col justify-between">
        <div></div>
        <div class="w-full text-center flex flex-col items-center">
            <div class="text-3xl bg-green-300 py-4 px-6 rounded-full w-fit">
                ✓
            </div>
            <br />
            Đã gửi thông tin thành công.
        </div>
        <div></div>
    </div>
</body>